
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Document</title>
</head>

<body>
    <h1>hello!</h1>
    <p>@ViewBag.Example</p>
    <p>@ViewBag.Number</p>
    <a href="/new/@ViewBag.Number">going to site @ViewBag.Number!</a>

    <p>another example for list:</p>
        <ul>
    @foreach (var number in ViewBag.List)
    {
        <li><a href="/new/@number">going to site @number!</a></li>
    }
        </ul>


    <h1>Super sweet page for @ViewBag.User.FirstName @ViewBag.User.LastName</h1>

</body>

</html>