@model Movie
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Info</title>
</head>

<body>
    <h3>showing movie info</h3>
    @{
        <p>MovieId: @Model.MovieId</p>
        <p>Title: @Model.Title</p>
        <p>Type: @Model.Type</p>
        <p>Description: @Model.Description</p>
        <p>ReleaseDate: @Model.ReleaseDate</p>
        <p>Rate: @Model.Rate</p>
    }
    <a asp-action="Index" asp-controller="Home">Back Home</a>
</body>

</html>